<!DOCTYPE html>
<html>
    <head>
        <title>New/Update TravelInfo</title>
        <meta charset="utf-8">
    </head>
    <body>
        <form method="post">
            <p>編號<input type="text" name="No"></p>
            <p>標題<input type="text" name="Title" required></p>
            <p>圖片名稱<input type="text" name="ImageName"></p>
            <p>文案<textarea name="Content" required></textarea></p>
            <p>活動開始時間<input type="date" name="StartTime" required></p>
            <p>活動結束時間<input type="date" name="EndTime"></p>
            <!--<p>報名開始時間<input type="datetime" name="StartTime" required></p>-->
            <!--<p>報名結束時間<input type="datetime" name="EndTime"></p> -->
            <p>最高報名人數<input type="number" name="Limit" value="1"></p>
            <p><input type="submit" ></p>
        </form>
    </body>
</html>