<div class="head" id="fixed-header-slide">
    <nav class="nav" id="fixed-header-wrap">
        <div class="logo">
            logo.jpg
        </div>
        <div class="home">
            <a href="../" target="_self">
                <i class="fa fa-home" aria-hidden="true"></i>
                首頁
            </a>
        </div>
        <div class="menu">
            <a href="#">
                <i class="fa-solid fa-flag"></i>
                國內旅遊
            </a>
            <ul id="test1" class="option-cont">
                <li>
                    <a href="../#block1" target="_self">
                        北基宜
                    </a>
                </li>
                <li>
                    <a href="../#block2" target="_self">
                        花東
                    </a>
                </li>
                <li>
                    <a href="../#block3" target="_self">
                        雲嘉南
                    </a>
                </li>
                <li>
                    <a href="../#block4" target="_self">
                        高屏
                    </a>
                </li>
            </ul>
        </div>
        <div class="menu">
            <a href="#">
                <i class="fa-solid fa-globe"></i>
                國外旅遊
            </a>
            <ul id="test1" class="option-cont">
                <li>
                    <a href="../#block5" target="_self">
                        日本
                    </a>
                </li>
                <li>
                    <a href="../#block6" target="_self">
                        歐洲
                    </a>
                </li>
                <li>
                    <a href="../#block7" target="_self">
                        中東亞
                    </a>
                </li>
                <li>
                    <a href="../#block8" target="_self">
                        韓國
                    </a>
                </li>
            </ul>
        </div>
        <div class="menu">
            <a href="#">
                <i class="fa-solid fa-plane"></i>
                機票
            </a>
            <ul id="test1" class="option-cont">
                <li>
                    <a href="https://www.china-airlines.com/tw/zh/" target="_blank">
                        中華
                    </a>
                </li>
                <li>
                    <a href="https://www.starlux-airlines.com/zh-TW" target="_blank">
                        星宇
                    </a>
                </li>
                <li>
                    <a href="https://www.evaair.com/zh-tw/index.html" target="_blank">
                        長榮
                    </a>
                </li>
                <li>
                    <a href="https://www.mandarin-airlines.com/" target="_blank">
                        華信
                    </a>
                </li>
                <li>
                    <a href="https://www.airpaz.com/zh-tw/airlines/B7-UNI-Air?m=p&c&d=c&a=436047350&u=kwd-84388628685573%3Aloc-40&l=40&msclkid=d086d3989a2b1dc86435b13056f8217f" target="_blank">
                        UNI AIR
                    </a>
                </li>
            </ul>
        </div>
        <div class="menu">
            <a href="#">
                <!-- <i class="fa fa-list-ul" aria-hidden="true"></i> -->
                <i class="fa-brands fa-airbnb"></i>
                訂房
            </a>
            <ul id="test1" class="option-cont">
                <li>
                    <a href="https://www.trivago.com.tw/" target="_blank">
                        Trivago
                    </a>
                </li>
                <li>
                    <a href="https://www.agoda.com/zh-tw/?site_id=1744573&tag=71e070e0-e04a-c09b-55c5-11d6ec52f270&msclkid=27464eaf67c815a9a2822c07a97432f2&utm_source=bing&utm_medium=cpc&utm_campaign=Intent%20Engine%20-%20273&utm_term=trivago&utm_content=cp%3Atrivago%7Cgt%3Aexact" target="_blank">
                        Agoda
                    </a>
                </li>
                <li>
                    <a href="https://www.eztravel.com.tw/?utm_source=yahoo&utm_medium=cpc&utm_campaign=brand&utm_term=eztravel&utm_content=Exact&AllianceID=201&SID=2&OUID=1001&msclkid=7a97757c77c01b08d59c17d4b9275b1d" target="_blank">
                        EzTravel
                    </a>
                </li>
                <li>
                    <a href="https://www.booking.com/city/de/au-de.zh-tw.html?aid=367296&label=msn-xFFVqhlcOYeHVm4VZ77ogw-80882880575400:tikwd-80882839474547:loc-40:neo:mte:lp40:dec:qsBooking.com&utm_campaign=Germany&utm_medium=cpc&utm_source=bing&utm_term=xFFVqhlcOYeHVm4VZ77ogw&msclkid=af41d660ccb517471b75b4c802496473" target="_blank">
                        Booking.com
                    </a>
                </li>
            </ul>
        </div>
        <div class="favorite">
            <a href="/future">
                <i class="fa fa-heart" aria-hidden="true"></i>
                訂單查詢
            </a>
        </div>
        <div class="booking">
            <a href="/ticketln" target="_self">
                <i class="fa fa-ticket" aria-hidden="true"></i>
                來去訂票
            </a>
        </div>
        <div class="o">123</div>
        <div class="user">
            <a href="/login" target="_self">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
                登入
            </a>
            <a href="/logout" target="_self">
                <i class="fa-solid fa-right-from-bracket"></i>
                登出
            </a>
        </div>
    </nav>
</div>