<div class="navbar bg-base-100" style="flex-wrap: nowrap !important">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
        <li>
          <a class="justify-between"
            >國內
            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" /></svg>
          </a>
          <ul class="p-2 bg-base-100 z-40">
            <li><a href="#block1">北基宜</a></li>
            <li><a href="#block2">花東</a></li>
            <li><a href="#block3">雲嘉南</a></li>
            <li><a href="#block4">高屏</a></li>
          </ul>
        </li>
        <li>
          <a class="justify-between">
            國外
            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" /></svg>
          </a>
          <ul class="p-2 bg-base-100 z-40">
            <li><a href="#block5">日本</a></li>
            <li><a href="#block6">歐洲</a></li>
            <li><a href="#block7">中東亞</a></li>
            <li><a href="#block8">韓國</a></li>
          </ul>
        </li>
        <li>
          <a class="justify-between"
            >機票
            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" /></svg>
          </a>
          <ul class="p-2 bg-base-100 z-40" >
            <li><a href="https://www.china-airlines.com/tw/zh/" target="_blank">中華</a></li>
            <li><a href="https://www.starlux-airlines.com/zh-TW" target="_blank">星宇</a></li>
            <li><a href="https://www.evaair.com/zh-tw/index.html" target="_blank">長榮</a></li>
            <li><a href="https://www.mandarin-airlines.com/" target="_blank">華信</a></li>
            <li><a href="https://www.airpaz.com/zh-tw/airlines/B7-UNI-Air?m=p&c&d=c&a=436047350&u=kwd-84388628685573%3Aloc-40&l=40&msclkid=d086d3989a2b1dc86435b13056f8217f" target="_blank">UNI AIR</a></li>
          </ul>
          <li>
            <a class="justify-between"
              >訂房
              <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" /></svg>
            </a>
            <ul class="p-2 bg-base-100 z-40">
              <li><a href="https://www.china-airlines.com/tw/zh/" target="_blank">Trivago</a></li>
              <li><a href="https://www.starlux-airlines.com/zh-TW" target="_blank">Agoda</a></li>
              <li><a href="https://www.evaair.com/zh-tw/index.html" target="_blank">EzTravel</a></li>
              <li><a href="https://www.mandarin-airlines.com/" target="_blank">Booking.com</a></li>
              </ul>
          </li>
        </li>
        {% if LoginAuth() %}
        <li>
            <a href="../member">
                <i class="fa fa-heart" aria-hidden="true"></i>
                我的票券
            </a>
        </li>
        <li>
            <a href="../ticket" target="_self">
                <i class="fa fa-ticket" aria-hidden="true"></i>
                來去訂票
            </a>
        </li>
        {% endif %}
      </ul>
    </div>
    <a class="btn btn-ghost normal-case text-xl">daisyUI</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul tabindex="0" class="menu menu-horizontal p-0">
        <li>
          <a class="justify-between"
            >國內
            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
          </a>
          <ul class="p-2 bg-base-100 z-40">
            <li><a href="#block1">北基宜</a></li>
            <li><a href="#block2">花東</a></li>
            <li><a href="#block3">雲嘉南</a></li>
            <li><a href="#block4">高屏</a></li>
          </ul>
        </li>
        <li>
          <a class="justify-between">
            國外
            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
          </a>
          <ul class="p-2 bg-base-100 z-40">
            <li><a href="#block5">日本</a></li>
            <li><a href="#block6">歐洲</a></li>
            <li><a href="#block7">中東亞</a></li>
            <li><a href="#block8">韓國</a></li>
          </ul>
        </li>
        <li>
          <a class="justify-between"
            >機票
            <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
          </a>
          <ul class="p-2 bg-base-100 z-40">
            <li><a href="https://www.china-airlines.com/tw/zh/" target="_blank">中華</a></li>
            <li><a href="https://www.starlux-airlines.com/zh-TW" target="_blank">星宇</a></li>
            <li><a href="https://www.evaair.com/zh-tw/index.html" target="_blank">長榮</a></li>
            <li><a href="https://www.mandarin-airlines.com/" target="_blank">華信</a></li>
            <li><a href="https://www.airpaz.com/zh-tw/airlines/B7-UNI-Air?m=p&c&d=c&a=436047350&u=kwd-84388628685573%3Aloc-40&l=40&msclkid=d086d3989a2b1dc86435b13056f8217f" target="_blank">UNI AIR</a></li>
          </ul>
          <li>
            <a class="justify-between"
              >訂房
              <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
            </a>
            <ul class="p-2 bg-base-100 z-40">
              <li><a href="https://www.china-airlines.com/tw/zh/" target="_blank">Trivago</a></li>
              <li><a href="https://www.starlux-airlines.com/zh-TW" target="_blank">Agoda</a></li>
              <li><a href="https://www.evaair.com/zh-tw/index.html" target="_blank">EzTravel</a></li>
              <li><a href="https://www.mandarin-airlines.com/" target="_blank">Booking.com</a></li>
              </ul>
          </li>
        </li>
        {% if LoginAuth() %}
        <li>
            <a href="../member">
                <i class="fa fa-heart" aria-hidden="true"></i>
                我的票券
            </a>
        </li>
        <li>
            <a href="../ticket" target="_self">
                <i class="fa fa-ticket" aria-hidden="true"></i>
                來去訂票
            </a>
        </li>
        {% endif %}
      </ul>
  </div>
  <div class="navbar-end">
            {% if not LoginAuth() %}
            <a href="/login" target="_self" class="btn">
                <i class="fa fa-sign-in" aria-hidden="true"></i>
                &nbsp;登入
            </a>
            {% else %}
            <a href="/logout" target="_self" class="btn">
                <i class="fa-solid fa-right-from-bracket"></i>
                &nbsp;登出
            </a>
            {% endif %}
  </div>
</div>
