<!DOCTYPE html>
<html>
  <head>
    <title>{{Title}}</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <p><div class="Title">{{Title}}</div></p>
    <p><div class="Image"><img src="{{ImageUrl}}" /></div></p>
    <p><div class="Content">{{Content}}</div></p>
    <p><div class="StartTime">報名開始日期:{{StartTime}}</div></p>
    <p><div class="EndTime">報名截止日期:{{EndTime}}</div></p>
    <p><div class="Limit">報名人數上限:{{Limit}}</div></p>
    <p><a href="/Ticketin/{{No}}">報名去!!!</a></p>
  </body>
</html>
